@using Site.Data.Models.Article;
@using Site.Data.Models.UserIdentity;
@using Common.Entity
@model IIdentified<VisualArticle>

@{
    Layout = "_HomeLayout";
}


    @await Html.PartialAsync("ArticlePreview",Model)
<p>@Model?.Value.Created</p>
<p>@Model?.Value.Content</p>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <button style="height:50px;width:160px">
            <a class="nav-link text-dark"
               asp-controller="Forum"
               asp-action="Post"
               asp-route-id="@Model?.Value.PostId"
               asp-route-login="@Model?.Login"
               asp-route-type="@Model?.Type"
               asp-route-userId="@Model?.UserId"
               asp-route-password="@Model?.Password">Обсуждение</a>
            </button>
        </li>
    </ul>
</div>
<hr/>
@if (Model.Type == UserType.Editor)
{
    <h2>Управление</h2>
    <p>Изменить заголовок</p>
    <form asp-controller="News"
          asp-action="UpdateTitle">
        <input type="hidden" name="login" value="@Model.Login"/>
        <input type="hidden" name="password" value="@Model.Password"/>
        <input type="hidden" name="type" value="@Model.Type"/>
        <input type="hidden" name="userId" value="@Model?.UserId"/>
        <input type="hidden" name="id" value="@Model?.Value.Id"/>
        <p><textarea cols="80" rows="2" name="title">@Model.Value.Title</textarea></p>
        <p><input type="submit" value="Подтвердить"/></p><hr/>
    </form>
    <p>Изменить введение</p>
    <form asp-controller="News"
          asp-action="UpdateAbstract">
        <input type="hidden" name="login" value="@Model.Login"/>
        <input type="hidden" name="password" value="@Model.Password"/>
        <input type="hidden" name="type" value="@Model.Type"/>
        <input type="hidden" name="userId" value="@Model?.UserId"/>
        <input type="hidden" name="id" value="@Model?.Value.Id"/>
        <p><textarea cols="80" rows="5" name="content">@Model.Value.Abstract</textarea></p>
        <p><input type="submit" value="Подтвердить"/></p><hr/>
    </form>
    <p>Изменить содержание</p>
    <form asp-controller="News"
          asp-action="UpdateContent">
        <input type="hidden" name="login" value="@Model.Login"/>
        <input type="hidden" name="password" value="@Model.Password"/>
        <input type="hidden" name="type" value="@Model.Type"/>
        <input type="hidden" name="userId" value="@Model?.UserId"/>
        <input type="hidden" name="id" value="@Model?.Value.Id"/>
        <p><textarea cols="80" rows="10" name="content">@Model.Value.Content</textarea></p>
        <p><input type="submit" value="Подтвердить"/></p><hr/>
    </form>
    <p>Изменить картинку</p>
    <form asp-controller="Forum"
          asp-action="UpdatePicture"
          enctype="multipart/form-data">
        <input type="hidden" name="login" value="@Model.Login"/>
        <input type="hidden" name="password" value="@Model.Password"/>
        <input type="hidden" name="type" value="@Model.Type"/>
        <input type="hidden" name="userId" value="@Model?.UserId"/>
        <input type="hidden" name="id" value="@Model?.Value.Id"/>
        <p><input type="file" name="picture"/></p>
        <p><input type="submit" value="Подтвердить"/></p><hr/>
    </form>
}