@using Common.Entity
@using Site.Data.Models;
@using Site.Data.Models.User;
@model Identified<Self>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@await Html.PartialAsync("UserInfo",Model)
<h2>Друзья</h2>
@{
    foreach (var friend in Model.Value.Friends)
    {
        <a asp-controller="Chat"
           asp-action="Chat"
           asp-route-id="@friend.ChatId"
           asp-route-login="@Model?.Login"
           asp-route-password="@Model?.Password">Чат</a>
        @await Html.PartialAsync("UserInfo", new Identified<Friend>(new Credential
        {
            Login = Model.Login,
            Password = Model.Password
        }, friend))
    }
}
<h2>Управление</h2>
<p>Изменить ник</p>
<form asp-controller="User"
      asp-action="UpdateNick">
    <input type="hidden" name="login" value="@Model.Login"/>
    <input type="hidden" name="password" value="@Model.Password"/>
    <input type="text" name="nick" value="@Model.Value.Nick"/>
    <input type="submit" value="Отправить"/>
</form>
<p>Изменить логин</p>
<form asp-controller="User"
      asp-action="UpdateLogin">
    <input type="hidden" name="login" value="@Model.Login"/>
    <input type="hidden" name="password" value="@Model.Password"/>
    <input type="text" name="newLogin"/>
    <input type="submit" value="Отправить"/>
</form>
<p>Изменить пароль</p>
<form asp-controller="User"
      asp-action="UpdatePassword">
    <input type="hidden" name="login" value="@Model.Login"/>
    <input type="hidden" name="password" value="@Model.Password"/>
    <input type="text" name="newPassword"/>
    <input type="submit" value="Отправить"/>
</form>
<p>Изменить email</p>
<form asp-controller="User"
      asp-action="UpdateEmail">
    <input type="hidden" name="login" value="@Model.Login"/>
    <input type="hidden" name="password" value="@Model.Password"/>
    <input type="text" name="email"/>
    <input type="submit" value="Отправить"/>
</form>
</body>
</html>