@using Site.Data.Models.User;
@using Site.Data.Models.UserIdentity
@model Site.Data.Models.UserIdentity.IIdentified<Self>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
@await Html.PartialAsync("UserInfo",Model)
<h2>Друзья</h2>
@{
    foreach (var friend in Model.Value.Friends)
    {
        <a asp-controller="Chat"
           asp-action="Chat"
           asp-route-id="@friend.ChatId"
           asp-route-login="@Model?.Login"
           asp-route-type="@Model?.Type"
           asp-route-password="@Model?.Password">Чат</a>
        @await Html.PartialAsync("UserInfo", new Identified<Friend>(Model, friend))
    }
}
<h2>Управление</h2>
<p>Изменить ник</p>
<form asp-controller="User"
      asp-action="UpdateNick">
    <input type="hidden" name="login" value="@Model.Login"/>
    <input type="hidden" name="password" value="@Model.Password"/>
    <input type="text" name="nick" value="@Model.Value.Nick"/>
    <input type="hidden" name="type" value="@Model.Type"/>
    <input type="submit" value="Отправить"/>
</form>
<p>Изменить логин</p>
<form asp-controller="User"
      asp-action="UpdateLogin">
    <input type="hidden" name="login" value="@Model.Login"/>
    <input type="hidden" name="password" value="@Model.Password"/>
    <input type="hidden" name="type" value="@Model.Type"/>
    <input type="text" name="newLogin"/>
    <input type="submit" value="Отправить"/>
</form>
<p>Изменить пароль</p>
<form asp-controller="User"
      asp-action="UpdatePassword">
    <input type="hidden" name="login" value="@Model.Login"/>
    <input type="hidden" name="password" value="@Model.Password"/>
    <input type="hidden" name="type" value="@Model.Type"/>
    <input type="text" name="newPassword"/>
    <input type="submit" value="Отправить"/>
</form>
<p>Изменить email</p>
<form asp-controller="User"
      asp-action="UpdateEmail">
    <input type="hidden" name="login" value="@Model.Login"/>
    <input type="hidden" name="password" value="@Model.Password"/>
    <input type="hidden" name="type" value="@Model.Type"/>
    <input type="text" name="email"/>
    <input type="submit" value="Отправить"/>
</form>
<p>Выбрать картинку</p>
<form asp-controller="User"
      asp-action="UpdatePicture">
    <input type="hidden" name="login" value="@Model.Login"/>
    <input type="hidden" name="password" value="@Model.Password"/>
    <input type="hidden" name="type" value="@Model.Type"/>
    @{
        foreach (var p in Model.Value.Pictures)
        {
            <label for="@p.Id"><img src="@p.Url" width="100" height="100"></label>
            <input type="radio" name="picture" id="@p.Id" value="@p.Id"/>
        }
    }
    <input type="submit" value="Выбрать"/>
</form>
</body>
</html>